<div class="row row justify-content-center align-self-center">
  <div style="width: 400px;" *ngIf="doctors">
    <h2>Doctor Details</h2>
    <div>
      <label><b>Name: </b></label> {{doctors.doctorName}}
    </div>
    <div>
      <label><b>Speciality: </b></label> {{doctors.speciality}}
    </div>
    <div>
      <label><b>Address: </b></label> {{doctors.doctorAddress}}
    </div>
    <div>
      <label><b>Hospital Name: </b></label> {{doctors.hospitalName}}
    </div>
    <div>
      <label><b>About: </b></label> {{doctors.about}}
    </div>
    <div>
      <label><b>Profile Picture: </b></label> {{doctors.profilePicture}}
    </div>


    <br>
    <br>
    <button (click)="updateDoctors()" class="btn btn-info">Update</button> <span></span>
    <button (click)="list()" class="btn btn-primary">Back to Doctor List</button><br>

  </div>
</div>
